



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url(captura3.png);
}

header {
   
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); 
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    margin: 0 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.menu ul li a:hover {
    background-color: #ffffff;
    color:rgb(201, 94, 153);
    transform: scale(1.1); /* Agranda un poco al pasar el mouse */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* buscador */
.wrap {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
  }
  
  .search {
    position: relative;
  }
  
  .searchTerm {
    display: none;
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    display: none;
    margin-left: 5px;
    padding: 10px 15px;
    border: none;
    background-color:#dd9dc0;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color:#dd9dc0;
  }
  
  .search-icon {
    cursor: pointer;
    font-size: 25px;
  
  }
  
  /* Mostrar botones*/
  .search.active .searchTerm,
  .search.active button {
    display: inline-block;
  }


