


/* Reset para margen y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    background: url(logo4.png);
}

/* Estilo del encabezado y menú */
header {
    background: linear-gradient(135deg, #f1ead5, #f0cd9fce); /* Degradado de fondo */
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); /* Sombra suave */
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    margin: 0 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.1em;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.menu ul li a:hover {
    background-color: #ffffff;
    color: #a57a3d;
    transform: scale(1.1); /* Agranda un poco al pasar el mouse */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}



